h1 {
    color: maroon;
    text-align: center;
    font-family: 'times new roman', serif;
    font-size: 72px;
    text-underline-offset: calc(0.2em);
    background-color: black;
    line-height: 120px;
    border: 5px solid #66ff00;
    text-shadow: #66ff00 8px 8px 8px;
}
h1:hover {
    color: #00ff00;
    text-shadow: #ff0000 8px 8px 8px;
    background-color: #ffffff;
    border: #ffffff 5px solid;
}
img {
    display: block;
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 150px;
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;


}
label {
    color: aqua;
    font-family: 'times new roman', serif;
    font-size: 16px;
    color: #333;
    display: block;
    text-align: left;
    text-shadow: 0 0 0 #ff0000;
   
}
a :hover {
    color:#66ff00
}