form {
    width: 500px;
     background-color: #ff0000;
     margin: auto;
     padding: 30px;
     border-radius: 50px;
     box-shadow: 0 0 20px green;
     font-style: oblique;
     text-shadow: yellow 4px 4px 4px;
     color: blue;

    
}
legend {
    font-size: 40px;
    font-weight: bold;
    color: blue;
    text-shadow: yellow 4px 4px 4px;
    background-color: bisque;
}
legend:hover {
    color: rgb(0, 0, 0);
    text-shadow: green 4px 4px 4px;
    background-color: aqua;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] , input[type=number] , input[type=date] , input[type=datetime-local] , select {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] , input[type=number] , input[type=date] , input[type=datetime-local] , select :hover {
    background-color: black;
}
textarea {
    border-radius: 50px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: auto;
}