h1 {
    text-align: center;
    font-size: 72px;
    text-decoration: underline;
    background-color: black;
    color: maroon;
    text-shadow: 2px 2px 4px #1eff00;
}
h1:hover {
    color: #00ff00;
    text-shadow: 12px 12px 12px #ff0000;
    background-color: #ffffff;
}
h2 {
    color: orangered;
}
#shipping {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
#index {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #420000;
    text-decoration: underline;
}
.new {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #ca008e;
    font-style: oblique;
}
.new:hover {
    color: #ff0000;
    text-shadow: 2px 2px 2px #000000;
    text-decoration: wavy underline;
}
#vip {
    background-color: #420000;
    margin: 20px;
    padding-left: 32px;
}
#vip h3 {
    color: #00ff00;
    text-decoration: underline;
}
#suprises {
    display: flex;
    gap: 20px;
}
#suprises:hover {
    background-color: #000000;
    color: #ffffff;
}   
#vip:hover {
    background-color: #000000;
    color: #ffffff;
}
button:hover {
    background-color: #000000;
    color: #ffffff;
}
#courses {
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    color: #000000;
    display: flex;
}
#courses:hover {
    background-color: #000000;
    color: #ffffff;
}